name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted  # 리눅스에서 돌고 있는 우리 일꾼이 이 명령을 받습니다.

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # 여기 '본인ID'를 본인의 Docker Hub ID로 수정하세요!
        tags: kimkiyeol/web-app:latest 
        no-cache: true
    - name: Run Docker container
      run: |
        # 1. 도커 허브에서 최신 이미지를 강제로 새로 받아옵니다 (핵심!)
        docker pull kimkiyeol/web-app:latest
        
        # 2. 기존 컨테이너 중지 및 삭제
        docker stop web-app || true
        docker rm web-app || true
        
        # 3. 새로 받아온 최신 이미지로 실행
        docker run -d --name web-app -p 8080:80 kimkiyeol/web-app:latest